@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100vh;
    width: 100wh;
}

body{
background: url(../imagens/fundo-madeira.jpg) top center no-repeat;
background-size: cover;
}

main{
    height: 100vh;
    position: relative;
}

#telefone{
    height: 600px;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    background:url(../imagens/frame-iphone.png) center center no-repeat;
    background-size: contain;  
}

#tela{
    position:relative;
    top: 77px;
    left: 122px;
    width: 256px;
    height: 450px;
}
#redes-sociais{
    text-align: right;
}

#redes-sociais img:hover{
    border: 2px solid rgb(255, 255, 255, 0.800);
    transform: translate(-3px,-3px);
    transition: transforma, 340ms;
    transition: border, 250ms;
}

#redes-sociais img{ 
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.500);
    box-sizing: border-box;
}